<div>
  <%= flash[:notice] %>
</div>

<body>
  <p>
   <span>Title:</span>
   <%= @book.title %>
  </p>
  <p>
   <span>Body:</span>
   <%= @book.body %>
  </p>
</body>

<%= link_to "Edit", edit_book_path(@book.id) %>
  |
<%= link_to "Back", '/books' %>